<div class="auth-wrapper d-flex justify-content-center align-items-center">
  <div class="col-lg-5 col-md-6 col-sm-9 col-12">
    <div class="mat-elevation-z2 white0-bg">
      <div class="p-3 warn-bg white0-c text-center">
        <h1>404</h1>
      </div>
      <div class="p-3 text-center">
        <p class="font-weight-bold paragraph-color text-uppercase">This page doesn't exist</p>
        <p class="text-center py-3">
          <a class="none-decoration credit-link border-rounded border-1px-primary p-2 text-uppercase"
            [routerLink]="[ '/' ]">Home</a>
        </p>
      </div>

    </div>
  </div>
</div>
