<div class="text-center">
  <div class="py-1 primary-bg white0-c text-uppercase font-weight-normal">
    <h4>{{'BUTTONS.login'|translate}}</h4>
  </div>
  <div class="pt-3">
    <form [formGroup]="loginForm" (ngSubmit)="submitloginForm(loginForm.value, loginForm.valid)" class="py-3 px-4">
      <mat-form-field class="d-block py-2">
        <mat-label>{{'PLACEHOLDERS.email'|translate}}</mat-label>
        <input matInput formControlName="email" required id="email" type="email"
          [placeholder]="'PLACEHOLDERS.email'|translate">
        <span matSuffix>
          <mat-icon>
            <fa-icon [icon]="faIcons.email" class="paragraph-color"></fa-icon>
          </mat-icon>
        </span>
        <mat-error class="py-1" *ngIf="loginForm.controls.email.invalid">
          {{getErrorMessage(loginForm,'email') |translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="d-block py-2">
        <mat-label>{{'PLACEHOLDERS.password'|translate}}</mat-label>
        <input matInput formControlName="pw1" required id="pw1" [type]="hidePassword ? 'password' : 'text'"
          [placeholder]="'PLACEHOLDERS.password'|translate">
        <button mat-icon-button type="button" matSuffix (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>
            <fa-icon *ngIf="hidePassword" [icon]="faIcons.visibility_off" class="paragraph-color"></fa-icon>
            <fa-icon *ngIf="!hidePassword" [icon]="faIcons.visibility" class="paragraph-color"></fa-icon>
          </mat-icon>
        </button>
        <mat-error class="py-1" *ngIf="loginForm.controls.pw1.invalid">
          {{getErrorMessage(loginForm,'pw1') |translate}}</mat-error>
      </mat-form-field>
      <div class="py-3 text-left">
        <small>
          <a [routerLink]="['/auth/login']"
            class="font-italic none-decoration warn-link">{{'LABELS.forgot_password'|translate}}</a>
        </small>
      </div>

      <div class="pt-4 pb-3">
        <button type="submit" mat-raised-button [disabled]="loginForm.invalid" color="primary"
          class="mw-50 text-uppercase">
          <span>{{'BUTTONS.login'|translate}}</span>
        </button></div>

      <div class="py-3">
        <small>
          <a [routerLink]="['/auth/register']"
            class="font-italic none-decoration credit-link">{{'LABELS.dont_have_account'|translate}}</a>
        </small>
      </div>
    </form>
  </div>
</div>
